@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    border: solid 1px #eee;
}

.title,
.picture {
    text-align: center;
}

.picture img {
    width: 50%;
}

.bio {
    padding: 0 15px;
    text-align: justify;
}

.timeline {
    width: 100%;
    text-align: center;
}
.timeline:hover {
    background-color: #7f75669b;
}

.date,
.event {
    display: inline-flex;
    margin-right: 10px;
}